$def with (content)

<html>
<head>
    <title>GitPatcher</title>
    
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/js/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="static/js/jquery-ui/jquery-ui.structure.css">
        <link rel="stylesheet" type="text/css" href="static/js/jquery-ui/jquery-ui.theme.css">
        <link rel="icon" href="static/img/git-icon.png" />
        
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery-ui/jquery-ui.js"></script>
        <script src='static/js/knockout-3.4.0.js'></script>

</head>
<body>
    <H1>GitPatcher</H1>

$:content

        <script src='static/js/myKO.js'></script>
</body>
</html>