<h2>RepoList</h2>

<p>Current Repo : <input data-bind="value: currentRepo" /></p>
<table>
    <thead><tr>
        <th>Repo Name</th><th>Path</th><th>Branch</th><th></th>
    </tr></thead>
    <tbody data-bind="foreach: repos">
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: path"></td>
            <td data-bind="text: branch"></td>
        </tr>    
    </tbody>

</table>
<button onclick="alert('click');" id="repolist-refresh" class="ui-button ui-widget ui-corner-all">Refresh</button>
<button onclick="do_click();" id="repolist-refresh2" class="ui-button ui-widget ui-corner-all">Refresh2</button>
<button id="repolist-refresh3" class="ui-button ui-widget ui-corner-all">Refresh3</button>
<button data-bind="click: test">test</button>

<div><p id="post-result">Hey</p></div>

 
<script>

$$( "div" ).hide();

//REPO_LIST
// Class to represent a repo
function Repo(name, path, branch) {
    var self = this;
    self.name = name;
    self.path = path;
    self.branch = branch;
}

// Overall viewmodel for this screen, along with initial state
function ReposViewModel() {
    var self = this;
    
    self.currentRepo = ko.observable("Repo1");
 
    // Editable data
    self.repos = ko.observableArray([
        new Repo("Repo1", "Repo1path", "master")
       ,new Repo("Repo2", "Repo2path", "master")
       ,new Repo("Repo3", "Repo3path", "master")
    ]);
    
    self.test = function() {
        //self.repos[1].name("test")
        var newRepo = gitpatcher.refreshRepoList();
        //self.currentRepo("test")
        self.currentRepo(newRepo)
    };   
        
}

ko.applyBindings(new ReposViewModel());



function do_click(){
    alert("repolist-refresh2 was clicked.");
    
    //ReposViewModel.repos()[1].name("Fred");
    
 
    //$("#post-result").text('Pushed');
    //gitpatcher.refreshRepoList();
}

window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
        alert("Yeah!");
        $$(function(){
        // DOM Ready - do your stuff 
             $$("#repolist-refresh3").click(function(){
                   alert("The repolist-refresh3 was clicked.");
             });
        }); 
        
        //$(".ui-button").text('Pushed');
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }

}


</script>

